
{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
                <p><a href="{% url 'profile' username=image.profile.username %}"></a>
                </p>
                <div class="col-md-5">
                    <img src="{{image.image.url}}" data-toggle="modal" data-target="#{{image.id}}">
                </div>
                <ul>

                </ul>
                <ul>
                    <li>
                      <a href="{% url 'profile' %}"></a>
                    </li>
                    <li>
                        <p>{{image.caption}} </p>
                    </li>
                </ul>
                <p> {{comments|length}} comments </p>
                <hr>
                <p>Comments</p>
                <div class="comments">
                {% for comment in comments %}
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    <a href="{% url 'profile' username=comment.user.username %}"></a>
                                </li>
                                <li>
                                    <p>{{comment.comment}} </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% empty %}
                    <div class="row">
                        <div class="col-md-10">
                            <h3>There are no comments</h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <form action="{% url 'singleImage' image_id=image.id %}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" class="btn btn-primary" value="POST">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}