{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <img src="{{username.profile.profilepic.url}}" width="152" height="152" class="rounded-circle border userimage">
    </div>
    <div class="col-sm-8">
        <div style="margin-bottom: 30px;">
            <h3>{{username.username}}</h3>
            <a href="{% url 'edit' %}">
            <button class="edit">
                <span class="edit_text">Edit Profile</span>
            </button>
            </a>
            <div style="margin-bottom: 11px;">
                <span class="info"><strong>{{ username.profile.image.count }}</strong> Posts</span>

            </div>
            <strong>{{ user_object.profile.user }}</strong>
                <span>{{ user_object.profile.bio }}</span>
        </div>
    </div>
    <ul class="nav" id="my" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#posts" data-toggle="tab" role="tab" aria-controls="posts" aria-selected="true">
            Posts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#saved" data-toggle="tab" role="tab" aria-controls="saved" aria-selected="false">
            Saved
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#liked" data-toggle="tab" role="tab" aria-controls="liked" aria-selected="false">
            Liked
        </a>
      </li>
    </ul>
    <div class="card">
    {% for image in images %}
        <a href="{% url 'image' image.id %}"><img src="{{image.image.url}}" class="img-fluid" id="eachimage"></a>
        <p>Caption : {{ image.description}}</p>
        <p>Posted by : {{ image.user}}</p>
    </div>
    {% endfor %}

</div>

{% endblock %}