{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    <h1>INSTAGRAM</h1>
</div>
<div class="container">
    <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap" class="img-fluid" size="100px200">
    <div class="card-body">
        <button class="btn btn-lg btn-danger">Like This Image</button>
        <a href="#" onClick="document.getElementById('likebutton').submit()">Like This Post</a> {{image.likes}}
    </div>
    <form id="likebutton" method="POST" action="/posts/{{image.id}}/preference/1/">
        {% csrf_token %}
        <input type="hidden">
    </form>


</div>

{% endblock %}